.portfolio-container {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
/* .portfolio-container {
  width: 100%;
  justify-content: center;
  display: grid;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
} */

.portfolio-header {
  margin-top: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  vertical-align: middle;
  /* line-height: 60px; */
}

/* .portfolio-header::before {
  content: '– ';
  font-family: Poppins;
  color: #cf000f;
}
.portfolio-header::after {
  content: ' –';
  font-family: Poppins;
  color: #cf000f;
} */

#portfolio-image {
  width: 500px;
}
