.contact-container {
  padding-top: 15px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.contact-header {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  vertical-align: middle;
  /* line-height: 60px; */
}

.contact-header::before {
  content: '– ';
  font-family: Poppins;
  color: #cf000f;
}
.contact-header::after {
  content: ' –';
  font-family: Poppins;
  color: #cf000f;
}
