body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: black;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

h1 {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  /* max-width: 100%; */
}

nav {

}

nav a {
}

.app-container {
  height: 100vh;
  width: 100%;
}

.header {
  width: inherit;
  height: 60px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  /* background: green; */
}

.header-logo img{
  height: 55px;
  width: 125px;
  max-width: 27.5vw;
  margin-top: 5px;
  margin-left: 15px;
}

.header-logo:hover {
  opacity: 0.5;
}

.header-logo-active:hover {
  opacity: 1;
  cursor: default;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-top: calc(27.5px); */
  margin-top: 42px;
  /* padding-right: 15px; */
  position: relative;
  bottom: 0px;
  height: 1em;
  /* padding-left: 15px;
  padding-right: 15px; */
  /* width: 100%; */
  /* width: calc(100% - 100px); */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: calc(100% - 55vw);
  min-width: 400px;
}

.header-links.mobile {
  position: absolute;
  justify-content: space-between;
  top: 22.5px;
  /* left: calc(15px); */
  width: calc(100vw - 30px);
  max-width: 600px;
  align-self: center;
  min-width: 300px;
}

.menu-icon {
    display: none;
    position: relative;
    bottom: 0.3em;
    font-size: 150%;
}

.header-link {
  position: relative;
  bottom: 2px;
  font-weight: 500;
  font-size: 18px;
  /* line-height: 1em; */
  color: black;
  /* margin-left: 1em; */
  /* margin-right: 2em; */
  padding-bottom: 1px;
}

.header-link:hover {
  opacity: 0.5;
}

/* .header-link:not(:last-child){
  margin-right: 2.5em;
} */

.header-link.active {
  color: #CF000F;
  transition: color 0.75s linear;
  font-weight: 500;
}

.header-link.active:hover {
  opacity: 1;
  cursor: default;
}


.header-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -8px;
  left: 0;
  background-color: black;
  visibility: hidden;
  /* -webkit-transform: scaleX(0); */
  transform: scaleX(0);
  -webkit-transition: all 0.325s ease-in-out 0s;
  transition: all 0.325s ease-in-out 0s;
}

.header-link.active:after {
  visibility: visible;
  width: 100%;
  -webkit-transform: scaleX(1);
  transform: scaleX(1) ;
  transition: all 0.325s ease-in-out 0.325s;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-top: calc(30px - 0.5em); */
  height: 55px;
  max-height: 55px;
  margin-top: 5px;
  margin-right: 15px;
  width: 125px;
  /* min-width: 125px; */
  max-width: 27.5vw;
  box-sizing: border-box;
}

.social-link {
  color: black;
  padding-bottom: 10%;
  /* display: flex;
  flex-direction: row; */
  /* width: auto; */
  display: inline-block;
  height: auto;
  position: relative;
  padding-top: 23.5%;
  /* width: 25%; */
}

.social-link:hover{
  cursor: pointer;
}

.social-link i {
  position: relative;
  /* bottom: 2px; */
  display: inline-block;
  /* display:table-cell; */
  font-size: 25px;
  line-height: 25px;
  /* width: auto; */
  height: inherit;
  text-align: center;
  /* vertical-align: bottom; */
}

.content {
  position: fixed;
  padding: 0px;
  margin: 0px;
  top: 75px;
  height: calc(100% - 75px);
  /* min-width: 375px; */
  width: 100vw;
  overflow: scroll;
}

.particles-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
